*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #1d1d1d;
}

img{
    width: 1000px;
    height: 400px;
    object-fit: cover;
    transition: 0.3s;
}

img:hover{
    cursor: pointer;
}

image:active{
    transform: scale(0.8);
}